DATABASE_URL="postgresql://user:pass@localhost:5432/kitab_db"
JWT_SECRET="rahasiasecretapps"
GOOGLE_CLIENT_ID="xxx.apps.googleusercontent.com"
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"